<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1049808440381-vjth6t7401qt2jku23c5uag3ijpjhttr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1049808440381-vjth6t7401qt2jku23c5uag3ijpjhttr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1049808440381-fmogcudramlhoaoivphm7ffb6po7k8os.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDto7yW3gjK3UYD808J_jHIzJEF2Nz4B-g</string>
	<key>GCM_SENDER_ID</key>
	<string>1049808440381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kennedyai.bookedmic</string>
	<key>PROJECT_ID</key>
	<string>bookedmic-1cf9d</string>
	<key>STORAGE_BUCKET</key>
	<string>bookedmic-1cf9d.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049808440381:ios:674033ff46a7711870ee54</string>
</dict>
</plist>